h1{
    color: aqua;
    background-color: chartreuse;
}


#GameCanvas {
    background:black;
    position:fixed;
    left:0;
    top:0;
    border: 3px black solid;
}

body, html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
}